.docs-content {
    font-family: 'Open Sans Light', arial;
    margin-top: 70pt;
    margin-left: 15%;
    margin-right: 15%;
}

.hero-unit {
    text-align: center;
}

.cntnts {
    text-align: left;
}