.navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Annabelle', arial;
    padding: 0;
    margin; 0;
}

.jumbotron {
    background-image: linear-gradient(to top left, #008B8B, #228B22);
}

.content {
    padding-top: 60px;
    font-family: 'Annabelle', arial;
    text-align: center;
}

.logo {
    width: 100%;
    padding-top: 20px;
}
